<div class="d-flex h-100 align-items-center">
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'card w-100 p-3 m-auto', style: 'max-width:30rem' }) do |f| %>
    <h1 class="mb-3 fs-3 fw-normal">Kirim ulang instruksi konfirmasi</h1>

    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="mb-3">
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', required: true %>
    </div>

    <div class="mb-3">
      <%= f.submit 'Kirim instruksi konfirmasi', class: 'btn btn-primary' %>
    </div>

    <div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
