<!DOCTYPE html>
<html lang="id">
  <head>
    <title>E-Votif</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav top-nav fixed-top navbar-dark bg-dark shadow">
      <div class="container h-100 navbar">
        <%= link_to root_path, class: 'navbar-brand d-flex align-items-center' do %>
          <!-- This is temporary logo for this app -->
          <i class="me-2" data-feather="aperture"></i>
          E-Votif
        <% end %>
        <% if user_signed_in? %>
          <ul class="list-unstyled d-flex m-0">
            <li class="me-4">
              <%= navbar_link_unless current_page?(vote_path), 'check-circle', "Pilih", vote_path %>
            </li>
            <li class="me-4">
              <%= navbar_link_unless current_page?(profile_path), 'user', "Profil", profile_path %>
            </li>
            <li>
              <%= navbar_link 'log-out', "Keluar", destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>

    <main>
      <div class="container h-100">
        <%= yield %>
      </div>
    </main>

    <% unless flash.empty? %>
      <div class="toast-container" aria-live="polite" aria-atomic="true">
        <% flash.each do |type, message| %>
          <div
            class="toast d-flex align-items-center text-white border-0 bg-<%= bootstrap_flash_color(type) %>"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
          >
            <div class="toast-body d-flex align-items-center">
              <i class="me-2" data-feather="<%= feather_flash_icon(type) %>" width=24 height=24 stroke-width=2></i>
              <%= message %>
            </div>
            <button class="btn-close btn-close-white ms-auto me-2" type="button" data-bs-dismiss="toast" aria-label="Tutup">
          </div>
        <% end %>
      </div>
    <% end %>

    <script>
      feather.replace()
    </script>

    <% unless flash.empty? %>
      <script>
        document.addEventListener('turbolinks:before-cache', () => {
          document.querySelector('.toast-container')?.remove()
        })

        document.addEventListener('turbolinks:load', () => {
          document.querySelectorAll('.toast').forEach(node => {
            let toast = new bootstrap.Toast(node)
            toast.show()
          })
        })
      </script>
    <% end %>

    <%= yield :js %>
  </body>
</html>
